DB_URL = "mongodb+srv://francescpallares:<USER_PASSWORD>@francescpallares.1bvb2uf.mongodb.net/?retryWrites=true&w=majority&appName=francescpallares"
DB_NAME = "DEV-LALIGA/PRO-LALIGA"
FRONT_END_URL = "{url}"
JWT_SECRET = "TOKEN_API_LALIGA_{code}"